.message {
    margin: 10px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end
}

.imageAndText img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.text {
    padding: 10px;
    position: relative;
    color: #FFFFFF;
    border-radius: 5px 5px 0 5px;
    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    word-wrap: break-word;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top right, transparent 50%, #0066CC 0) no-repeat right bottom;
}

.name {
    text-align: end;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.messageText {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    max-width: 600px;
    white-space: normal;
    overflow: hidden;
}

.time {
    text-align: end;
    margin-right: 12px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}