
.App {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.hw {
    margin: 0 auto;
}

.hwTitle {
    margin: 50px 0 30px 100px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}