
.App {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.hw {
}

.hwTitle {
    margin: 100px 0 100px 100px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}