.friendMessage {
    margin-bottom: 10px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end
}

.friendImageAndText img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.friendText {
    transform-style: preserve-3d;
    max-width: 600px;
    position: relative;
    padding: 10px;
    color: #000000;
    border-radius: 5px 5px 5px 0;
    background: rgb(245 247 251);
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {
    content: "";
    position: absolute;
    transform: translateZ(-1px);
    bottom: 0;
    right: 100.1%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(42px at top left, transparent 46%, rgba(245 247 251 ) 1%) no-repeat;
    box-shadow: 1px 1px 1px rgb(15 26 24 / 5%);
}

.friendName {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.friendMessageText {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    max-width: 600px;
    white-space: normal;
    overflow: hidden;
}

.friendTime {
    margin-left: 12px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
