.select {
    width: 165px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    cursor: pointer;
}

.select:focus {
    cursor: pointer;
}

.option {
}

.option:checked {
    background-color: #0066CC;
}
