:root {
    --custom-color: #0066CC;
}

.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
    font-weight: 600;
    margin-right: 25px;
}

.disabled {
    background: #004D99;
    opacity: 0.5;
    color: #FFFFFF;
}

.secondary {
    width: 176px;
    background-color: #ffffff;
    color: var(--custom-color);
    border: 1px solid var(--custom-color);

}

.default {
    background: var(--custom-color);
    color: #FFFFFF;
}

.red {
    background: #CC1439;
    color: #FFFFFF;
}

.default:hover {
    width: 165px;
    background: #0080FF;
}

.red:hover {
    width: 165px;
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
    border: 1px solid var(--custom-color);
}


.default:active {
    width: 165px;
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
    border: 1px solid var(--custom-color);
}

.red:active {
    width: 167px;
    background: #B31232;
}

.button:disabled {
    background: #004D99;
}
